@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@media print{
    /* body *{
        visibility: hidden;
    } */
    #mobile-footer-bar, 
    #navbar-desktop,
    footer, .bio-profile, 
    .edit-profile, button *,
    #biodata, #footer-page *{
        display: none !important;
        box-shadow: rgba(0,0,0,0);
    }
    .bio-profile{
        width: 150px;
        height: 150px;
    }
    #qr-section, #qr-section *{
        justify-content: center;
        position: absolute;
    }
}
/* CONTENT CSS */
body{
    padding-bottom: 90px;
    display: block;
    font-family: var(--font-family-body) !important;
    overflow-x: hidden;
    background: url(../background.png);
    background-position: center;
    background-size: cover;
}

.body {
    padding-top: 70px;
    color: var(--font-color-primary-2);
}

.size {
    font-size: 3.5rem;
}

.center{
    text-align: center;
}

.text{
    background-color: #fff;
    border-bottom: #000000 solid 2px;
}

.container {
    width: 100%;
    padding: 15px 0 15px 0;
    border-radius: 15px;
    color: var(--black);
    font-weight: bold;
    background: var(--bawaan-gradient-1);
    background: var(--gradient-1);
}

.imagePreview {
    padding: 5rem;
    width: 100%;
    background:url(http://cliquecities.com/assets/no-image-e3699ae23f866f6cbdf8ba2443ee5c4e.jpg);
    background-color:#ffffff;
    background-size: cover;
    background-repeat:no-repeat;
    display: inline-flex;
    box-shadow:0px -3px 6px 2px rgba(0,0,0,0.2);
}

.btn-primary{
    border-radius: 50%;
    width: 60%;
    height: 3rem;
    display:block;
}

.btn {
    margin-top: 10px;
    background: var(--bawaan-gradient-1);
    background: var(--gradient-1);
}
.qrCode{
    margin-left:50px !important;
    padding-top: 20px;
}

.profile {
    background-color: var(--font-color-primary-2);
    border-radius: 50%;
}

.col-xl-6{
    padding-top: 20px;
}

.bio-input input{
    color: var(--black)!important;
    font-family: var(--font-family-body);
}

.save-bio{
    outline:none;
    background-color: transparent;
    border: none;
}

.form-label {
    padding-top: 0.5rem;
}

/*Navbar mobile alias footbar CSS*/

@media screen and (min-width: 931px) {
    #mobile-footer-bar, #mobile-footer-bar .container-fluid{
        display: none;
    }

}

@media screen and (max-width: 1300px) {
    #id-pplk{
        width: 3rem;
        height: 3rem;
    }
    #search-width{
        width: 20rem;
        height: 1.5rem;
    }
    #navbar-nav-item{
        font-size: 1.2rem;
        padding: 4px 0px 4px 0px;
    }
    #nama-maba-navbar a{
        display: none;
    }
    .profile-img, .profile-img img{
        width: 2.5rem;
        height: 2.5rem;
    }
    .qrCode{
        margin-left:27px !important;
    }

}
@media screen and (max-width:1050px) {
    #search-width{
        width: 11.2rem;
    }
    .qrCode{
        margin-left:0px !important;
    }
}

@media screen and (max-width:930px) {
    .bio-profile{
        width: 150px;
        height: 150px;
    }
    #navbar-nav-item{
        display: none;
    }
    .qrCode{
        margin-left:240px !important;
    }
    #mobile-dropdown[data-bs-popper] {
        --bs-position: end;
        right: 0 /* rtl:ignore */;
        left: auto /* rtl:ignore */;
    }

    .footer-bar{
        z-index: 98;
        background-color: var(--page-background-1);
        bottom: 0;
        position: fixed;
        overflow: hidden;
        height: 75px;
        border-radius: 20px 20px 0 0;
        padding-top: 5px;
        padding-bottom: 15px;
        padding-left: 20px;
        padding-right: 20px;
        display: inline-flex;
        align-items: center;
        margin: 0 auto;
        box-shadow: 0 4px 8px 16px rgb(0 0 0 / 10%);
    }

    .footer-bar li{
        padding: 0;
        width: 50px;
        height: 30px;
        margin-left: 5px;
        margin-right: 10px;
        margin-top: 1rem;
        margin-bottom: 2rem;
        display: grid;
        align-items: center;
    }

    .footer-bar a{
        text-decoration: none;
        text-align: center;
        color: var(--white) !important;
        font-size: 10px;
    }

    body{
        padding-bottom: 8rem;
    }

    .btn{
        width: 50%;
    }

}
@media screen and (max-width:850px) {
    #search-width{
        width: 12rem;
    }
    .qrCode{
        margin-left:200px !important;
    }
}
@media screen and (max-width:790px) {
    #search-width{
        width: 12rem;
    }
    .qrCode{
        margin-left:180px !important;
    }
}
@media screen and (max-width:570px) {
    #search-width{
        width: 12rem;
    }
    .qrCode{
        margin-left:125px !important;
    }
}
@media screen and (max-width:420px) {
    #search-width{
        width: 11.2rem;
    }
    .qrCode{
        margin-left:65px !important;
    }
}
@media screen and (max-width:380px) {
    #search-width{
        width: 11.2rem;
    }
    .qrCode{
        margin-left:35px !important;
    }
}

@media screen and (max-width:340px) {
    #search-width{
        display: none;
    }
}

@media screen and (max-width:280px) {
    .imagePreview{
        width: 30%;
    }
    .qrCode{
        margin-left:0px !important;
    }
}

@media (max-width: 500px){
    .bio-content{
        height: 100% !important;
        width: 100% !important;
        padding-bottom: 0!important;
        max-width: 100%;
    }
}
