.prestasi-card {
  width: 80%;
  height: 12rem !important;
  background: linear-gradient(90deg, rgb(240, 65, 255) 0%, rgba(130, 165, 234, 1) 100%) !important;
}

.carousel .card {
  transition: 0.5s;
  transform: scale(0.8);
}
.carousel .active .card {
  transition: 0.5s;
  transform: scale(1);
}

#img-prodi {
  object-fit: cover;
}

.gambar-1 {
  width: 100%;
  height: 20rem;
  object-fit: cover;
  object-position: 50% 0%;
  border-radius: 20px;
}

@media screen and (max-width:930px) {
  #prestasi {
      margin-bottom: 4rem;
  }
}