@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap');


body {
    background-image: url(../background-2.png);
    background-size: cover;
    background-position: 50% 5%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    box-shadow: inset rgba(41, 1, 53, 0.66) 0px 1000rem 100px;
    width: 100%;

}

.main-landing-page {
    aspect-ratio: 16/9;
    height: 30%;
    background-image: url(../Rectangle.png);
    background-size: cover;
    background-position: 50% 0%;
    /* box-shadow:rgba(50,25,67,1) 0px 50px 10px; */
}

.games-logo-container {
    position: relative;
}

.games-logo {
    aspect-ratio: 1/1;
    width: 285px;
    height: 285px;

    overflow: auto;
    margin: auto;
    position: absolute;
    top: 536px; left: 0; bottom: 0; right: 0;
}

.games-display {
    position: absolute;
    overflow: auto;
    margin: auto;
    top: 410px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 87px;
    text-align: center;
    letter-spacing: 0.1em;

    color: #FFFFFF;
}

.btn-get-started {
    position: absolute;
    width: 556px;
    height: 120px;
    /*
    margin-top: 41%;
    margin-left: 0.6%;*/

    overflow: auto;
    margin: auto;
    top: 694px;
    padding-top: 23px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 68px;
    /* identical to box height */

    text-align: center;
    letter-spacing: 0.1em;

    background: linear-gradient(90deg, rgba(240, 65, 255, 0.9) 0%, #82A5EA 100%);
    border-radius: 35px;
}

.games-menu-container {
    padding-top: 78px;
    margin-left: 164px;
    margin-bottom: 52.21px;
}

.games-title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 350%;
    line-height: 102px;
    letter-spacing: 0.1em;
    text-align: center;

    color: #FFFFFF;
}

.games-title {
    margin-right: 100.37px;
}

.games-title a {
    background: linear-gradient(90deg, rgba(240, 65, 255, 0.765) 0%, rgba(130, 165, 234, 0.85) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.card {
    background: linear-gradient(90deg, rgba(130, 165, 234, 0.85) 0%, rgba(240, 65, 255, 0.765) 100%);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
}

.card-user-info {
    /* 1366px */
    margin-top: 63px;
    margin-bottom: 31.19px;
    width: 90%;
    height: 247.86px;
    padding-top: 20px;
    padding-left: 36.31px;
    padding-bottom: 8.3px;
}

.col-logo {
    /* 1366px */
    position: absolute;
    width: 235.65px;
    height: 186.61px;

    background: #FFFFFF;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
    border-radius: 25px;

    padding-top: 43px;
    padding-left: 22px;

}

.col-logo-text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 364%;
    line-height: 87px;
    text-align: center;
    letter-spacing: 0.1em;

    color: #000000;
}

.user-info {
    /* 1366px */
    margin-left: calc(302px - 36.31px);
    margin-top: 14.78px;
}

.user-info-name {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 140%;
    line-height: 116.68%;
    text-align: left;
    /* or 47px */

    color: #FFFFFF;
}

.user-info-name a {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 204%;
    line-height: 116.68%;
    text-align: left;
    /* or 75px */


    /* BG1 */

    color: #FFFFFF;
}

.col-points {
    position: absolute;
    width: 17%;
    height: 32%;
    margin-top: calc(158.61px - 20px);
    margin-left: calc(857.03px - calc(10.03px + 17.73px));
    padding-top: 12.06px;
    padding-bottom: 12.06px;
    padding-left: 13.09px;

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
}

.points-title {
    margin-left: calc(81.01px - 19.37px);
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 112%;
    line-height: 116.68%;
    text-align: left;
    /* or 28px */

    /* Bodytext */

    color: #686868;
}

.points-value {
    margin-left: calc(81.01px - 19.37px);
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 96%;
    line-height: 3%;
    text-align: left;
    /* or 28px */


    /* Call to Action 1 */

    color: #3991C9;
}

.points-icon {
    position: absolute;
    width: 30%;
    height: 70%;

    background: orange;
    border-radius: 50%;
}

.card-game-menu {
    margin-left: 31.19px;
}

.card-game {
    width: 41.82%;
    height: 200px;
}

.game1 {
    background: white;
    text-align: left;

    padding-top: 38.17px;
    padding-right: 30.5px;
}

.game1-figure {
    width: 25px;
    height: 25px;

    color: gray;
    border-radius: 25px;
}

.game1-title {
    color: #174461;
    margin-left: 179px;
}

.game1-desc {
    color: #686868;
    margin-left: 179px;
}

.game2 {
    margin-left: 31.05px;
    text-align: left;

    padding-top: 38.17px;
    padding-right: 30.5px;
}

.game2-title {
    margin-left: 179px;
}


.game2-desc {
    margin-left: 179px;
}

.leaderboard-container {
    padding-top: 62.45px;
    padding-bottom: 160px;
    margin-left: 130.43px;
}

.leaderboarad-header-container {
    padding-left: 361.27px;
    margin-bottom: 41.11px;
}

.leaderboard-title {
    margin-bottom: 31.62px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 350%;
    line-height: 102px;
    text-align: left;

    color: #FFFFFF;
}

.leaderboard-underline {
    width: 80px;
    height: 8px;

    border-radius: 20px;
    background: #3991C9;

    margin-left: 158.73px;
}

.top-rank-container {
    padding-left: 24.23px;
}

.rank-img {
    box-sizing: border-box;

    width: 157.63px;
    height: 157.63px;

    border-radius: 50%;
}

.rank-col {
    margin-right: 174.11px;
}

.rank1-img {
    border: 2px solid #FFA941;
}

.rank2-img {
    margin-top: 132.02px;
    margin-left: 100px;
    border: 2px solid #CBCBCB;
}

.rank3-img {
    margin-top: 132.02px;
    border: 2px solid #492D0A;
}

.sign-rank {
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50%;

    color: white;
    text-align: center;
}

.sign-rank1 {
    margin-top: -15px;
    margin-left: 63px;

    background: #FFA941;
}

.sign-rank2 {
    margin-top: -15px;
    margin-left: 163px;

    background: #D9D9D9;
}

.sign-rank3 {
    margin-top: -15px;
    margin-left: 63px;
    background: #492D0A;
}

.top-rank-identity {
    margin-top: 12.65px;

    font-family: 'Open Sans';
    font-style: normal;

    /* identical to box height, or 42px */


    color: #FFFFFF;
}

.top-rank-ordergroup {
    font-weight: 600;
    font-size: 16px;
    line-height: 116.68%;
}

.top-rank-name {
    font-weight: 600;
    font-size: 14px;
    line-height: 116.68%;
}

.top-rank-points {
    font-weight: 600;
    font-size: 12px;
    line-height: 116.68%;

    color: #FFA941;
}

.ranking-title {
    margin-left: -100px;
    margin-bottom: 30px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 116.68%;
    /* or 47px */

    text-align: center;

    color: #FFFFFF;
}

.rank-table-container {
    width: 1095.66px;
    height: auto;
    padding-top: 15.9px;
    padding-left: 21.34px;
    padding-right: 21.34px;
    padding-bottom: 47.7px;

    background: #FAFAFA;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.list-rank-col {
    width: auto;
    height: auto;
    padding-top: 9.87px;
    padding-left: 36.36px;
    margin-bottom: 19.75px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 116.68%;
    /* or 37px */

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}


.list-active {
    border: 2.5px solid #3991C9;
}


@media screen and (max-width: 1400px) {

    .games-display {
        top: 410px; left: 0; bottom: 0; right: 0;
    }

    .btn-get-started {
        top: 540px;

    }
}

@media screen and (max-width: 780px) {
    .main-landing-page{
        aspect-ratio: 1/1;
        /* height: 23rem; */
    }

    .games-logo {
        top: 310px; left: 0; bottom: 0; right: 0;

        width: 155px;
        height: 155px;
    }
    .games-display {
        top: 270px; left: 0; bottom: 0; right: 0;

        font-family: 'Lemon';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 31px;
        text-align: center;
        letter-spacing: 0.1em;

        color: #FFFFFF;
    }


    .btn-get-started {
        visibility: hidden !important;
    }

    .games-title {
        display: none;
    }

    .games-menu-container {
        padding-top: 0px;
        margin-right: auto;
        margin-left: 6.3%;
        margin-bottom: 18px;
    }

    .card {
        background: linear-gradient(90deg, rgba(240, 65, 255, 0.765) 0%, rgba(130, 165, 234, 0.85) 100%);
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
        border-radius: 15px;
    }

    .card-user-info {
        margin-top: 0;
        margin-bottom: 31.19px;
        width: 90%;
        height: 130px;
        padding-top: 22px;
        padding-left: 36.31px;
        padding-bottom: 26px;
    }

    .col-logo {
        width: 30%;
        height: 71.3%;
    }

    .col-logo-text {
        font-weight: 0;
        font-size: 0;
        line-height: 0px;
        letter-spacing: 0;
        visibility: hidden;
    }

    .user-info {
        margin-left: calc(42.52% - 36.31px);
        margin-top: 14.78px;
    }

    .user-info-name {
        font-weight: 400;
        font-size: 12px;
        line-height: 116.68%;
    }

    .user-info-name a {
        font-size: 16px;
    }

    .col-points {
        width: 100px;
        margin-top: calc(22.61% - 20px);
        margin-left: calc(67.74% - calc(10.03px + 17.73px));
        padding-top: 2px;
        padding-bottom: 12.06px;
        padding-left: 9.67px;
    }

    .points-icon {
        width: 30%;
        height: 70%;
        margin-top: 4px;

        background: linear-gradient(90deg, rgba(130, 165, 234, 0.85) 0%, rgba(240, 65, 255, 0.765) 100%);
    }

    .points-title {
        font-weight: 400;
        font-size: 12px;
        line-height: 116.68%;

        margin-top: 2px;
        margin-left: 37.27px;

        background: linear-gradient(90deg, rgba(130, 165, 234, 0.85) 0%, rgba(240, 65, 255, 0.765) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
    }

    .points-value {
        font-weight: 600;
        font-size: 8px;
        line-height: 3%;

        margin-left: 37.27px;
        margin-bottom: 30px;
    }


    .card-game-menu {
        margin-left: 0;
    }

    .card-game {
        width: 88%;
        height: 130px;
    }

    .game1 {
        background: white;
        text-align: left;

        padding-top: 12px;
        padding-right: 30.5px;
        margin-bottom: 22px;
    }

    .game1-figure {
        width: 25px;
        height: 25px;

        color: gray;
        border-radius: 25px;
    }

    .game1-title {
        margin-left: 113px;

        font-weight: 600;
        font-size: 22px;
        line-height: 116.68%;

        background: linear-gradient(90deg, rgba(240, 65, 255, 0.765) 0%, rgba(130, 165, 234, 0.85) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
    }

    .game1-desc {
        margin-left: 82px;

        font-weight: 400;
        font-size: 17px;
        line-height: 116.68%;

        background: linear-gradient(90deg, rgba(240, 65, 255, 0.765) 0%, rgba(130, 165, 234, 0.85) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
    }

    .game2 {
        margin-left: 0px;
        text-align: left;

        padding-top: 21px;
        padding-right: 30.5px;
    }

    .game2-title {
        color: #5BB3EC;
        margin-left: 113px;

        font-weight: 600;
        font-size: 22px;
        line-height: 116.68%;
    }


    .game2-desc {
        color: white;
        margin-left: 82px;

        font-weight: 400;
        font-size: 17px;
        line-height: 116.68%;
    }

    .leaderboard-container {
        padding-top: 18px;
        padding-bottom: 83px;
        margin-left: 27px;
    }

    .top-rank-container {
        display: none;
    }

    .leaderboarad-header-container {
        padding-left: 59px;
        margin-bottom: 32px;
    }

    .leaderboard-title {
        margin-bottom: 4px;

        font-weight: 400;
        font-size: 240%;
        line-height: 102px;
    }

    .leaderboard-underline {
        width: 37px;
        height: 1px;

        border-radius: 20px;
        background: #F5F5F5;

        margin-left: 87px;
    }


    .top-rank-container {
        padding-left: 39px;
    }

    .rank-img {
        box-sizing: border-box;

        width: 80px;
        height: 80px;

        border-radius: 50%;
    }

    .rank-col {
        margin-right: 0px;
    }

    .rank1-img {
        border: 2px solid #FFA941;
    }

    .rank2-img {
        margin-top: 132.02px;
        margin-left: 39px;
        border: 2px solid #CBCBCB;
    }

    .rank3-img {
        margin-top: 132.02px;
        border: 2px solid #492D0A;
    }

    .sign-rank {
        position: absolute;
        width: 25px;
        height: 25px;
        border-radius: 50%;

        color: white;
        text-align: center;
    }

    .sign-rank1 {
        margin-top: -15px;
        margin-left: 63px;

        background: #FFA941;
    }

    .sign-rank2 {
        margin-top: -15px;
        margin-left: 163px;

        background: #D9D9D9;
    }

    .sign-rank3 {
        margin-top: -15px;
        margin-left: 63px;
        background: #492D0A;
    }

    .top-rank-identity {
        margin-top: 12.65px;

        font-family: 'Open Sans';
        font-style: normal;

        /* identical to box height, or 42px */


        color: #FFFFFF;
    }

    .top-rank-ordergroup {
        font-weight: 600;
        font-size: 16px;
        line-height: 116.68%;
    }

    .top-rank-name {
        font-weight: 600;
        font-size: 14px;
        line-height: 116.68%;
    }

    .top-rank-points {
        font-weight: 600;
        font-size: 12px;
        line-height: 116.68%;

        color: #FFA941;
    }

    .ranking-title {
        margin-left: -100px;
        margin-bottom: 30px;

        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 116.68%;
        /* or 47px */

        text-align: center;

        color: #FFFFFF;
    }

    .rank-table-container {
        width: 93%;
        height: 100%;

        padding-top: 15.9px;
        padding-left: 21.34px;
        padding-right: 21.34px;
        padding-bottom: 8px;

        background: #FAFAFA;
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
        border-radius: 20px;
    }

    .list-rank-col {
        width: 100%;
        height: 100%;

        margin-right: 5px;
        padding-top: 15px;
        padding-left: 11px;
        margin-bottom: 0px;

        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 22px;
        line-height: 116.68%;
        /* or 37px */

        background: #F9FAFB;
        border-radius: 10px;
    }

    .list-active {
        border: 2.5px solid #3991C9;
    }

    .list-rank-col1 {
        margin-top: 17px;
    }

    .list-rank-col2 {
        margin-top: -44.62px;
        margin-left: 19px;
        margin-bottom: 14px;
    }

    .list-rank-col3 {
        margin-left: 13px;
    }

}
