body {
  font-family: var(--font-family-body) !important;
  background-image: url(../background-2.png);
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  box-shadow: inset rgba(41, 1, 53, 0.66) 0px 1000rem 100px;
  width: 100%;
}

/* Splash Screen */
#splash-screen {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -999;
}

.launch-logo {
  background-color: rgb(11, 10, 60);
  display: grid;
  place-items: center;
  height: 100vh;
}

.launch-logo.display-none {
  display: none;
  transition: all 1s;
}

@keyframes fade {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.fade {
  opacity: 0;
  animation: fade 3.5s ease-in-out forwards;
}

.launch-logo-image {
  width: 281px;
  height: 281px;
}

.show-up {
  opacity: 0;
  animation: show-up 4s ease-in-out forwards;
}

@keyframes show-up {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#login-container {
  place-items: center;
  z-index: 999;
}

#login {
  background-color: rgba(0, 0, 0, 0.3);
}

#masuk {
  width: 58.95%;
  height: 50px;
  background: rgb(113, 12, 111);
  background: linear-gradient(180deg, rgba(113, 12, 111, 1) 12%, rgba(140, 51, 138, 1) 61%, rgba(200, 137, 198, 1) 100%);
  font-size: 20px;
}

@media screen and (max-width: 600px) {
  #image {
    width: 50%;
  }
}

.input-size {
  width: 58.95%;
  height: 50px;
}

.outer-container {
  width: 56.45%;
}

@media (max-width: 768px) {
  .launch-logo-image {
    width: 281px;
    height: 281px;
    z-index: 200;
  }
  .input-size {
    width: 80%;
    height: 50px;
  }

  #masuk {
    width: 80%;
    height: 50px;
    background: rgb(113, 12, 111);
    background: linear-gradient(180deg, rgba(113, 12, 111, 1) 12%, rgba(140, 51, 138, 1) 61%, rgba(200, 137, 198, 1) 100%);
    font-size: 20px;
  }

  .outer-container {
    width: 100%;
  }

  .text-size {
    font-size: 0.8rem;
  }
}

/* PWA POP-UP */

/* PWA Animation */
@keyframes pwa-animation {
  from {
    bottom: -33vh;
    opacity: 0;
  }
  to {
    bottom: 0vh;
    opacity: 1;
  }
}
@keyframes close-pwa-animation {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(33vh);
    opacity: 0;
  }
}

#pwa {
  position: fixed;
  bottom: 0vh;
  padding: 20px;
  z-index: 999;
  background: rgb(177, 39, 195);
  background: linear-gradient(0deg, rgba(177, 39, 195, 0.9) 0%, rgba(171, 64, 184, 0.9) 50%, rgba(96, 4, 105, 0.9) 100%);
  border-radius: 25px 25px 0px 0px;
}

@media (max-width: 768px) {
  #pwa {
    position: fixed;
    bottom: 0vh;
    padding: 20px;
    z-index: 999;
    background: rgb(177, 39, 195);
    background: linear-gradient(0deg, rgba(177, 39, 195, 0.9) 0%, rgba(171, 64, 184, 0.9) 50%, rgba(96, 4, 105, 0.9) 100%);
    /* box-shadow: -5px 5px 10px #f041ff; */
    border-radius: 25px 25px 0px 0px;
  }
}

.animatein {
  animation: pwa-animation 1s linear 3.5s 1 normal forwards running;
}

.animate {
  animation: close-pwa-animation 1s linear 0s 1 normal forwards running;
}

.pwa-line {
  background-color: white;
  border: 3px solid white;
  opacity: 1;
}

#pwa-button-install {
  height: 40px;
}

#pwa-button-cancel {
  height: 40px;
}

.gradient-text {
  background: -webkit-linear-gradient(90deg, rgba(103, 30, 186, 1) 0%, rgba(56, 2, 86, 1) 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  font-size: 1rem;
  font-weight: bolder;
}
@media (max-width: 576px) {
  .gradient-text {
    background: -webkit-linear-gradient(90deg, rgba(103, 30, 186, 1) 0%, rgba(56, 2, 86, 1) 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    font-size: 0.8rem;
    font-weight: bolder;
  }
}
@media (max-width: 900px) {
      #pwa {
        padding-bottom: 5rem;
      }
    }