@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
    --primary: #7739A3;
    --secondary: #1A75FF;
    --bawaan-gradient-1:rgb(240,65,255); /*Base Color*/
    --bawaan-gradient-2: rgb(119,57,163); /*Text Color*/
    --bawaan-gradient-3: rgb(11,10,60);
    --gradient-1: linear-gradient(90deg, rgb(240, 65, 255) 0%, rgba(130,165,234,1) 100%);
    --gradient-2: linear-gradient(90deg, rgba(119,57,163,1) 0%, rgba(26,117,255,1) 100%);
    --gradient-3: linear-gradient(90deg, rgba(11,10,60,1) 0%, rgba(50,25,67,1) 100%);
    --white: #fff;
    --black: #000;
    --grey: #C4C4C4;
    --primary-color-1: #110f58;
    --primary-color-2: rgba(91, 207, 197, 0.2);
    --font-family-title: 'Poppins', 'open sans';
    --font-family-body: 'Poppins', 'open sans';
    --font-color-primary: #174461;
    --font-color-primary-2: #FFFFFF;
    --font-color-subheadline: #071D2C;
    --font-color-secondary: #686868;
    --font-color-call-to-act-2:#4a4a4a;
    --page-background-1: #F9FAFB;
    --page-background-2: #f6f6f6;
}



/*Navbar CSS*/
.background-gradient{
    background: var(--bawaan-gradient-1);
    background: var(--gradient-1);
}

.navbar-brand .pplk_logo{
    width:3.8rem;
    height:3.8rem;
    display: flex;
}

.navbar-brand .pplk-logo-bknd{
    border-radius: 50%;
}

.pplk_logo{
    display: flex;
}

.search-form {
    padding-left: 20px;
    position: relative;
    display: flex;
    margin: 0 auto;
    align-items: center;
    float: left;
    width: 30rem;
}

.search-form .fa-search {
    position: absolute;
    left: 30px;
    font-size: 20px;
    color: #4A4A4A;
}


.search-bar{
    background-size: 20px 20px;
    margin: auto;
    color: var(--secondary);
}

.search-form-input {
    height: 2.8rem;
    text-indent: 10px;
    padding: 0px 0px 0px 35px;
    border-radius: 20px;
    font-family: var(--font-family-body);
    font-size: 13px;
    color: #666666;
    background-color: #E4E4E4;
    width: 100%;
}

.form_edit{
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--primary);
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 40%;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.search-form-input:focus, .search-form-input:hover, .search-form-input:active  {
    box-shadow: none;
    border: solid 1px var(--primary);
    box-shadow: 0px 5px 15px 1px var(--secondary);
    background-color: #E4E4E4;
}

/*.navbar-brand ul li a:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: yellow;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.25s linear;
}
.navbar-brand ul li a:hover::after {
    transform-origin: bottom left;
    transform: scaleX(1);
}
*/

.dashboard-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 1.25rem;
}

.dashboard-item:focus, .dashboard-item:hover, .dashboard-item:active{
    padding: 0rem 2rem 0 2rem;
}

.dashboard-item .dashboard-item-icon{
    justify-content: center;
    font-size: 1.5rem;
}

.dashboard-item-icon{
    transform: translateY(-0.2rem);
}

#icon-navbar{
    fill: var(--white);
}

#nama-maba-navbar{
    padding-right: 20px;
    font-size: 1.2rem;
}

.btn-group .btn:focus{
    transform: rotate(180deg);
}

.dropdown-menu{
    transform: translateY(10px);
    background: var(--grey);
    background-color: var(--primary);
    color: var(--bawaan-gradient-1);
    color: var(--gradient-1);
    border-radius: 0px;
    border: none;
    box-shadow: 0px 5px 15px 1px var(--secondary);
    z-index: -1;
}

.dropdown-menu:focus{
    transition: all 0.5s ease-in-out;
}

.dropdown-menu .dropdown-item{
    font-size: 1.2rem;
    font-family: var(--font-family-body);
    color: var(--black);
    border-radius: 0px;
    padding: 0.5rem 1rem;
    transition: all 0.2s ease-in-out;
}
.dropdown-menu .dropdown-item .icon-dropdown{
    transform: translateY(-2px);
    padding-right: 2px;
}

.dropdown-menu .dropdown-item:hover, .dropdown-menu .dropdown-item .icon-dropdown:hover{
    fill:var(--white);
    background: var(--bawaan-gradient-1);
    background: var(--gradient-1);
    color: var(--white);
}

.profile-img{
    background-color: var(--grey);
    width: 3.1rem;
    height: 3.1rem;
    border-radius: 50%;
}

.profile-img:hover::before{
    filter: blur(3px);
    transform: scale(1.2);
}

.profile-img img{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

/*Navbar mobile alias footbar CSS*/
.footer-bar{
    background:var(--bawaan-gradient-1);
    background: var(--gradient-1);
}

.footer-bar{
    background-color: none;
    border-radius: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
}

.footer-bar li{
    padding: 0;
    width: 50px;
    height: 30px;
    margin-left: 5px;
    margin-right: 10px;
    margin-top: 1rem;
    margin-bottom: 2rem;
    display: grid;
    align-items: center;
}

.footer-bar a{
    text-decoration: none;
    text-align: center;
    color: var(--white) !important;
    font-size: 10px;
}

/* BODY PPLK  PAGE*/
body{
    margin: 0;
    padding: 0;
    display: block;
    font-family: var(--font-family-body) !important;
    overflow-x: hidden;
    background: url(../background.webp);
    background-position: center;
    background-size: cover;
}

.PPLK{
    height: fit-content;
    width: 100%;
    color: #ffffff;
    margin: 0;
    padding: 0;
    width: 100%;
}

.container {
    padding-top: 3rem;
    width: max-content;

}

.container h2, h3{
    text-align: center;
    padding-bottom: 10px;
}

.container a{
    display: flex;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.212)!important;
    border-color: #ffffffff!important;
    box-shadow: #ffffff6c 0px 20px 60px!important;
    color: #000000;
    width: 23.75rem;
    height: 23.75rem;
    border-radius: 15px;
    border: 1px solid rgba(0, 0, 0, 0.125);
}


body p{
    font-family: var(--font-family-body);
    color: var(--font-color-secondary);
    text-align: center;
}

.wrapper {
    width: 100%;
    padding-top: 3rem;
}

.wrapper .carousel {
    max-width: 100%;
    margin: auto;
    padding: 0 30px 0 30px;
    display: flex;
}

.carousel .card{
    padding: 0 13px 0 13px;
    height: 23.75rem;
    width: 23.75rem;
    background-size: auto ;
    border-radius: 15px;
    text-align: center;
    margin: auto;
    font-size: 0.7rem;
    font-weight: 200;
    background-color: rgba(0, 0, 0, 40%)!important;
    border-color: #85838398!important;
    box-shadow: inset #7602996c 0px 0px 40px 10px!important;
}

.card p{
    color: var(--black);
}

.owl-dots{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.owl-dot{
    height: 15px;
    width: 45px;
    margin: 0 5px;
    outline: none;
    border-radius: 14px;
    border: 2px solid #ffffff!important;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.2);
    transition: all 0.3s ease;
}

.owl-dot.active,
.owl-dot:hover{
    background: #ffffff!important;
}

.ratio{
    margin: 1.875rem 4.875rem 1.875rem 4.875rem;
    background: rgb(240,65,255);
    background: linear-gradient(90deg, rgba(240,65,255,0.4962359943977591) 0%, rgba(130,165,234,0.5) 100%);
    border-radius: 15px;
}


/*Navbar mobile alias footbar CSS*/

@media screen and (min-width: 931px) {
    #mobile-footer-bar, #mobile-footer-bar .container-fluid{
        display: none;
    }
}

@media screen and (max-width: 1300px) {
    #id-pplk{
        width: 3rem;
        height: 3rem;
    }
    #search-width{
        width: 20rem;
        height: 1.5rem;
    }
    #navbar-nav-item{
        font-size: 1.2rem;
        padding: 4px 0px 4px 0px;
    }
    #nama-maba-navbar a{
        display: none;
    }
    .profile-img, .profile-img img{
        width: 2.5rem;
        height: 2.5rem;
    }

    .carousel .card{
        font-size: 0.65rem;
    }
}

@media screen and (max-width:1024px) {

    .container {
        width: fit-content;
        font-size: 1rem;
    }

    .container a {
        width: 19rem;
        height: 19rem;
    }

    .carousel .card {
        width: 19rem;
        height: 19rem;
        font-size: 0.65rem;
    }
}

@media screen and (max-width:930px) {
    #navbar-nav-item{
        display: none;
    }
    #mobile-dropdown[data-bs-popper] {
        --bs-position: end;
        right: 0 /* rtl:ignore */;
        left: auto /* rtl:ignore */;
    }

    .footer-bar{
        z-index: 98;
        background-color: var(--page-background-1);
        bottom: 0;
        position: fixed;
        overflow: hidden;
        height: 75px;
        border-radius: 20px 20px 0 0;
        padding-top: 5px;
        padding-bottom: 15px;
        padding-left: 20px;
        padding-right: 20px;
        display: inline-flex;
        align-items: center;
        margin: 0 auto;
        box-shadow: 0 4px 8px 16px rgb(0 0 0 / 10%);
    }

    .footer-bar li{
        padding: 0;
        width: 50px;
        height: 30px;
        margin-left: 5px;
        margin-right: 10px;
        margin-top: 1rem;
        margin-bottom: 2rem;
        display: grid;
        align-items: center;
    }

    .footer-bar a{
        text-decoration: none;
        text-align: center;
        color: var(--white) !important;
        font-size: 10px;
    }

    .carousel .card {
        font-size: 0.65rem;
    }

}

@media screen and (max-width: 820px){
    .container {
        font-size: 1.5rem;
    }

}

@media screen and (max-width:768px) {

    body {
        padding-bottom: 3.75rem;
    }

    .container{
        font-size: 1.25rem;
    }

    .container a {
        width: 18.75rem;
        height: 18.75rem;
    }

    .carousel .card {
        width: 18.75rem;
        height: 18.75rem;
        font-size: 0.6rem;
        font-weight: 600;
    }

    .ratio{
        margin: 1.5rem 4rem 1.5rem 4rem;
    }
}

@media screen and (max-width:570px) {
    #search-width{
        width: 12rem;
    }

    body{
        padding-bottom: 5rem;
    }

    .container {
        width: fit-content;
        font-size: 0.9rem;
    }

    .container a {
        width: 18.75rem;
        height: 18.75rem;
    }

    .carousel .card {
        width: 18.75rem;
        height: 18.75rem;
        font-size: 0.65rem;
        font-weight: 600;
    }

    .ratio {
        margin: 1.5rem 4.2rem 1.5rem 4.2rem;
    }

}

@media screen and (max-width:370px) {
    #search-width{
        width: 11.2rem;
    }

    .container {
        width: 60%;
        font-size: 0.8rem;
    }

    .container a {
        width: 14rem;
        height: 14rem;
    }

    .carousel .card {
        width: 14rem;
        height: 14rem;
        font-size: 0.48rem;
        font-weight: 600;
    }

    .ratio{
        margin: 1rem 3rem 1rem 3rem;
    }

}

@media screen and (max-width:340px) {
    #search-width{
        display: none;
    }


    .carousel .card {
        font-size: 0.45rem;
    }
}

@media screen and (max-width:280px) {
    .container a{
        height: 10.875rem;
        width: 10.875rem;
    }


    .carousel .card {
        font-size: 0.4rem;
        height: 10.875rem;
        width: 10.875rem;
    }
}

@media (min-width: 911px) and (max-width: 912px) {
    body{
        background-size: 150% 150%;
    }

    .container{
        font-size: 1.25rem;
    }
}

