#landingPageJurusan {
  background-image: url(../pplk.png);
  background-size: 100% 100%;
  background-position: center;
}

#landingPageJurusan #pills-tabContent {
  background: rgb(11, 10, 60) !important;
  background: linear-gradient(90deg, rgba(11, 10, 60, 1) 0%, rgba(50, 25, 67, 1) 100%) !important;
}

#pills-tab {
  background: rgb(11, 10, 60);
  background: linear-gradient(90deg, rgba(11, 10, 60, 1) 0%, rgba(50, 25, 67, 1) 100%);
}

#pills-tab .nav-item .active {
  background: linear-gradient(90deg, rgb(240, 65, 255) 0%, rgba(130, 165, 234, 1) 100%) !important;
}

.btn .card {
  background: linear-gradient(90deg, rgb(240, 65, 255) 0%, rgba(130, 165, 234, 1) 100%) !important;
  width: 20rem;
}

.dashboard-item-icon {
  display: none;
}

.btn {
  border: none !important;
}

.btn .card:hover {
  background: whitesmoke;
  color: linear-gradient(90deg, rgb(240, 65, 255) 0%, rgba(130, 165, 234, 1) 100%) !important;
  transform: translate(0, -10px);
  color: #000;
  box-shadow: 0 8px 12px rgba(255, 255, 255, 0.75);
  /* font-size: larger; */
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
/*  */

.rounded-5 {
  border-radius: 4rem;
}
.animasi-nav:hover {
  /* transform: translate(0, -5px); */
  font-size: larger;
  margin: 0 0 0 0;
}

.animasi-nav{
  margin: 0.5rem 0;
}

@media only screen and (max-width: 500px) {
  .dashboard-item-icon {
    display: block;
    width: 5rem;
    height: 5rem;
  }
  #pills-tab .nav-item .nav-link {
    height: 10rem;
  }
}
