body {
    background-image: url(../background-2.png);
    background-size: cover;
    background-position: 50% 5%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: rgb(11, 10, 60);
    /* background-: linear-gradient(90deg, rgba(11,10,60,1) 0%, rgba(50,25,67,1) 100%); */
    overflow-y: hidden;
}

.redeem {
    padding: 100px 100px;
}

.title-text {
    font-family: var(--font-family-title);
    font-size: 2.5rem;
    font-weight: bold;
}
.line-indikator {
    display: block;
    width: 5%;
    height: 4px;
    background: var(--bawaan-gradient-2);
    background: var(--gradient-2);
    margin-left: 25px;
    margin-bottom: 2.5rem;
}

.card {
    background: linear-gradient(
        90deg,
        rgb(240, 65, 255) 0%,
        rgba(130, 165, 234, 1) 100%
    ) !important;
    /* width: 100%; */
}

.card-text {
    font-weight: bold;
    /* font-size: 2rem; */
}

.form-label {
    /* font-size: 1.5rem; */
    font-weight: bold;
}

.input-control {
    width: 100%;
    height: 2.5rem;
    background: gray;
    opacity: 0.5;
    border-radius: 5px;
    border: 1px solid var(--grey);
    padding: 1rem;
    color: white;
    font-stretch: semi-condensed;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: var(--font-family-title);
    margin-bottom: 3rem;
}

.btn-redeem {
    background: linear-gradient(
        90deg,
        rgb(240, 65, 255) 0%,
        rgba(130, 165, 234, 1) 100%
    );
    border-radius: 5px !important;
    width: 30% !important;
}

.btn-tz {
    font-size: 1rem;
}

@media screen and (max-width: 992px) {
    body {
        overflow-y: visible;
    }
    .btn-redeem {
        background: linear-gradient(
            90deg,
            rgb(240, 65, 255) 0%,
            rgba(130, 165, 234, 1) 100%
        );
        border-radius: 5px !important;
        width: 35% !important;
    }

    .btn-tz {
        font-size: 0.8rem;
    }
}
