@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
    --primary: #7739A3;
    --secondary: #1A75FF;
    --bawaan-gradient-1:rgb(240,65,255); /*Base Color*/
    --bawaan-gradient-2: rgb(119,57,163); /*Text Color*/
    --gradient-1: linear-gradient(90deg, rgb(240, 65, 255) 0%, rgba(130,165,234,1) 100%);
    --gradient-2: linear-gradient(90deg, rgba(119,57,163,1) 0%, rgba(26,117,255,1) 100%);
    --white: #fff;
    --black: #000;
    --grey: #C4C4C4;
    --primary-color-1: #110f58;
    --primary-color-2: rgba(91, 207, 197, 0.2);
    --font-family-title: Poppins, 'open sans';
    --font-family-body: Poppins, 'open sans';
    --font-color-primary: #174461; 
    --font-color-primary-2: #FFFFFF;
    --font-color-subheadline: #071D2C; 
    --font-color-secondary: #686868;
    --font-color-call-to-act-2:#4a4a4a;
    --page-background-1: #F9FAFB;
    --page-background-2: #f6f6f6;
}


body, .redeem {
    background-image: url(../assets/background.png);
    background-size: cover;
    background-position: 50% 5%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: rgb(11,10,60);
    /* background-: linear-gradient(90deg, rgba(11,10,60,1) 0%, rgba(50,25,67,1) 100%); */
}

.title-text{
    font-family: var(--font-family-title);
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 0;
}
.line-indikator{
    display: block;
    width: 5%;
    height: 4px;
    background: var(--bawaan-gradient-2);
    background: var(--gradient-2);
    margin-left: 25px;
    margin-bottom: 2.5rem;
}

.card {
    background: linear-gradient(90deg, rgb(240, 65, 255) 0%, rgba(130, 165, 234, 1) 100%) !important;
    /* width: 100%; */
  }



.img-box{
    margin-bottom: 0px;
  }

.card-text {
    font-weight: bold;
    /* font-size: 2rem; */
}

.form-label{
    /* font-size: 1.5rem; */
    font-weight: bold;
    margin-bottom: 0;
}

.input-control{
    width: 100%;
    height: 2.5rem;
    background: gray;
    opacity: 0.5;
    border-radius: 5px;
    border: 1px solid var(--grey);
    padding: 1rem;
    color: white;
    font-stretch:semi-condensed;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: var(--font-family-title);
    margin-bottom: 0.8rem;
}

.btn-redeem{
    background: linear-gradient(90deg, rgb(240, 65, 255) 0%, rgba(130, 165, 234, 1) 100%);
    border-radius: 5px!important;
    width: 30%!important;

}

@media screen and (max-width: 700px) {
    .line-indikator{
        display: block;
        width: 30%;
        height: 4px;
        background: var(--bawaan-gradient-2);
        background: var(--gradient-2);
        margin-left: 25px;
        margin-bottom: 2.5rem;
    }
    .btn-redeem{
        width: 50%!important;
    
    }
}
