@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
    --primary: #7739A3;
    --secondary: #1A75FF;
    --bawaan-gradient-1:rgb(240,65,255); /*Base Color*/
    --bawaan-gradient-2: rgb(119,57,163); /*Text Color*/
    --gradient-1: linear-gradient(90deg, rgb(240, 65, 255) 0%, rgba(130,165,234,1) 100%);
    --gradient-2: linear-gradient(90deg, rgba(119,57,163,1) 0%, rgba(26,117,255,1) 100%);
    --white: #fff;
    --black: #000;
    --grey: #C4C4C4;
    --primary-color-1: #110f58;
    --primary-color-2: rgba(91, 207, 197, 0.2);
    --font-family-title: 'Poppins', 'open sans';
    --font-family-body: 'Poppins', 'open sans';
    --font-color-primary: #174461; 
    --font-color-primary-2: #FFFFFF;
    --font-color-subheadline: #071D2C; 
    --font-color-secondary: #686868;
    --font-color-call-to-act-2:#4a4a4a;
    --page-background-1: #F9FAFB;
    --page-background-2: #f6f6f6;
}


body{
    margin: 0;
    padding: 0;
    display: block;
    font-family: var(--font-family-body);
    overflow-x: hidden;
    background: rgb(11,10,60);
    background: linear-gradient(90deg, rgba(11,10,60,1) 0%, rgba(50,25,67,1) 100%);
}

/*Navbar CSS*/
.background-gradient{
    background: var(--bawaan-gradient-1);
    background: var(--gradient-1);
}

.navbar-brand .pplk_logo{
    width:3.8rem;
    height:3.8rem;
    display: flex;
}

.navbar-brand .pplk-logo-bknd{
    border-radius: 50%;
}

.pplk_logo{
    display: flex;
}

.search-form {
    padding-left: 20px;
    position: relative;
    display: flex;
    margin: 0 auto;
    align-items: center;
    float: left;
    width: 30rem;
}

.search-form .fa-search {
    position: absolute;
    left: 30px;
    font-size: 20px;
    color: #4A4A4A;
}


.search-bar{
    background-size: 20px 20px;
    margin: auto;
    color: var(--secondary);
}

.search-form-input {
    height: 2.8rem;
    text-indent: 10px;
    padding: 0px 0px 0px 35px;
    border-radius: 20px;
    font-family: var(--font-family-body);
    font-size: 13px;
    color: #666666;
    background-color: #E4E4E4;
    width: 100%;
}

.form_edit{
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--primary);
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 40%;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.search-form-input:focus, .search-form-input:hover, .search-form-input:active  {
    box-shadow: none;
    border: solid 1px var(--primary);
    box-shadow: 0px 5px 15px 1px var(--secondary);
    background-color: #E4E4E4;
}

/*.navbar-brand ul li a:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: yellow;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.25s linear;
}

.navbar-brand ul li a:hover::after {
    transform-origin: bottom left;
    transform: scaleX(1);
}
*/

.dashboard-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 1.25rem;
}

.dashboard-item:focus, .dashboard-item:hover, .dashboard-item:active{
    padding: 0rem 2rem 0 2rem;
}

.dashboard-item .dashboard-item-icon{
    justify-content: center;
    font-size: 1.5rem;
}

.dashboard-item-icon{
    transform: translateY(-0.2rem);
}

#icon-navbar{
    fill: var(--white);
}

#nama-maba-navbar{
    padding-right: 20px;
    font-size: 1.2rem;
}

.btn-group .btn:focus{
    transform: rotate(180deg);
}

.dropdown-menu{
    transform: translateY(10px);
    background: var(--grey);
    background-color: var(--primary);
    color: var(--bawaan-gradient-1);
    color: var(--gradient-1);
    border-radius: 0px;
    border: none;
    box-shadow: 0px 5px 15px 1px var(--secondary);
    z-index: -1;
}

.dropdown-menu:focus{
    transition: all 0.5s ease-in-out;
}

.dropdown-menu .dropdown-item{
    font-size: 1.2rem;
    font-family: var(--font-family-body);
    color: var(--black);
    border-radius: 0px;
    padding: 0.5rem 1rem;
    transition: all 0.2s ease-in-out;
}
.dropdown-menu .dropdown-item .icon-dropdown{
    transform: translateY(-2px);
    padding-right: 2px;
}

.dropdown-menu .dropdown-item:hover, .dropdown-menu .dropdown-item .icon-dropdown:hover{
    fill:var(--white);
    background: var(--bawaan-gradient-1);
    background: var(--gradient-1);
    color: var(--white);
}

.profile-img{
    background-color: var(--grey);
    width: 3.1rem;
    height: 3.1rem;
    border-radius: 50%;
}

.profile-img:hover::before{
    filter: blur(3px);
    transform: scale(1.2);
}

.profile-img img{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

/*Navbar mobile alias footbar CSS*/
body{
    font-size: 10rem;
    font-family: var(--font-family-body);
    color: var(--font-color-secondary);
}
.kamus-gaul_pplk {
    margin: 0;
    padding: 0;
    color: var(--font-color-primary-2)
}
.container {
    padding-top: 3rem;
    width: max-content;
    text-align: center;
}
#btn-kamus{
    /* border-color: #ffffff6c!important; */
    margin: 2rem;
}
#btn-kamus:hover {
    box-shadow: #ffffff6c 0rem 1rem 4rem!important;
}
#box-kamus{
    height: 14rem;
    width: 14rem;
    background: var(--bawaan-gradient-1)!important;
    background: var(--gradient-1)!important;
    border-radius: 1rem;
    text-decoration: none;
}
.kata-kamus {
    align-items: center;
    display: flex;
    font-size: larger;
    font-weight: bold;
    color: var(--white);
    text-decoration: none;
}
.kata-kamus:hover {
    color: var(--primary-color-1);
}
#popup-1 {
    width: 100%; height: 100%; position: fixed; top: 0; left: 0;
    z-index: 999; visibility: hidden;
}
#popup-1:hover{ background: rgba(0, 0, 0, 0.5); }

#popup-2 {
    width: 100%; height: 100%; position: fixed; top: 0; left: 0;
    z-index: 999; visibility: hidden;
}
#popup-2:hover{
    background: rgba(0, 0, 0, 0.5);
}
#popup-3 {
    width: 100%; height: 100%; position: fixed; top: 0; left: 0;
    z-index: 999; visibility: hidden;
}
#popup-3:hover{
    background: rgba(0, 0, 0, 0.5);
}
#popup-4 {
    width: 100%; height: 100%; position: fixed; top: 0; left: 0;
    z-index: 999; visibility: hidden;
}
#popup-4:hover{
    background: rgba(0, 0, 0, 0.5);
}
#popup-5 {
    width: 100%; height: 100%; position: fixed; top: 0; left: 0;
    z-index: 999; visibility: hidden;
}
#popup-5:hover{
    background: rgba(0, 0, 0, 0.5);
}
#popup-6 {
    width: 100%; height: 100%; position: fixed; top: 0; left: 0;
    z-index: 999; visibility: hidden;
}
#popup-6:hover{
    background: rgba(0, 0, 0, 0.5);
}
#popup-7 {
    width: 100%; height: 100%; position: fixed; top: 0; left: 0;
    z-index: 999; visibility: hidden;
}
#popup-7:hover{
    background: rgba(0, 0, 0, 0.5);
}
#popup-8 {
    width: 100%; height: 100%; position: fixed; top: 0; left: 0;
    z-index: 999; visibility: hidden;
}
#popup-8:hover{
    background: rgba(0, 0, 0, 0.5);
}
#popup-9 {
    width: 100%; height: 100%; position: fixed; top: 0; left: 0;
    z-index: 999; visibility: hidden;
}
#popup-9:hover{
    background: rgba(0, 0, 0, 0.5);
}
#popup-10 {
    width: 100%; height: 100%; position: fixed; top: 0; left: 0;
    z-index: 999; visibility: hidden;
}
#popup-10:hover{
    background: rgba(0, 0, 0, 0.5);
}
#popup-11 {
    width: 100%; height: 100%; position: fixed; top: 0; left: 0;
    z-index: 999; visibility: hidden;
}
#popup-11:hover{
    background: rgba(0, 0, 0, 0.5);
}
#popup-12 {
    width: 100%; height: 100%; position: fixed; top: 0; left: 0;
    z-index: 999; visibility: hidden;
}
#popup-12:hover{
    background: rgba(0, 0, 0, 0.5);
}
#popup-13 {
    width: 100%; height: 100%; position: fixed; top: 0; left: 0;
    z-index: 999; visibility: hidden;
}
#popup-13:hover{
    background: rgba(0, 0, 0, 0.5);
}
#popup-14 {
    width: 100%; height: 100%; position: fixed; top: 0; left: 0;
    z-index: 999; visibility: hidden;
}
#popup-14:hover{
    background: rgba(0, 0, 0, 0.5);
}
#popup-15 {
    width: 100%; height: 100%; position: fixed; top: 0; left: 0;
    z-index: 999; visibility: hidden;
}
#popup-15:hover{
    background: rgba(0, 0, 0, 0.5);
}
#popup-16 {
    width: 100%; height: 100%; position: fixed; top: 0; left: 0;
    z-index: 999; visibility: hidden;
}
#popup-16:hover{
    background: rgba(0, 0, 0, 0.5);
}
#popup-17 {
    width: 100%; height: 100%; position: fixed; top: 0; left: 0;
    z-index: 999; visibility: hidden;
}
#popup-17:hover{
    background: rgba(0, 0, 0, 0.5);
}
#popup-18 {
    width: 100%; height: 100%; position: fixed; top: 0; left: 0;
    z-index: 999; visibility: hidden;
}
#popup-18:hover{
    background: rgba(0, 0, 0, 0.5);
}
#popup-19 {
    width: 100%; height: 100%; position: fixed; top: 0; left: 0;
    z-index: 999; visibility: hidden;
}
#popup-19:hover{
    background: rgba(0, 0, 0, 0.5);
}
#popup-20 {
    width: 100%; height: 100%; position: fixed; top: 0; left: 0;
    z-index: 999; visibility: hidden;
}
#popup-20:hover{
    background: rgba(0, 0, 0, 0.5);
}
#popup-21 {
    width: 100%; height: 100%; position: fixed; top: 0; left: 0;
    z-index: 999; visibility: hidden;
}
#popup-21:hover{
    background: rgba(0, 0, 0, 0.5);
}
#popup-22 {
    width: 100%; height: 100%; position: fixed; top: 0; left: 0;
    z-index: 999; visibility: hidden;
}
#popup-22:hover{
    background: rgba(0, 0, 0, 0.5);
}
#popup-23 {
    width: 100%; height: 100%; position: fixed; top: 0; left: 0;
    z-index: 999; visibility: hidden;
}
#popup-23:hover{
    background: rgba(0, 0, 0, 0.5);
}
#popup-24 {
    width: 100%; height: 100%; position: fixed; top: 0; left: 0;
    z-index: 999; visibility: hidden;
}
#popup-24:hover{
    background: rgba(0, 0, 0, 0.5);
}
#popup-25 {
    width: 100%; height: 100%; position: fixed; top: 0; left: 0;
    z-index: 999; visibility: hidden;
}
#popup-25:hover{
    background: rgba(0, 0, 0, 0.5);
}
#popup-26 {
    width: 100%; height: 100%; position: fixed; top: 0; left: 0;
    z-index: 999; visibility: hidden;
}
#popup-26:hover{
    background: rgba(0, 0, 0, 0.5);
}
#popup-27 {
    width: 100%; height: 100%; position: fixed; top: 0; left: 0;
    z-index: 999; visibility: hidden;
}
#popup-27:hover{
    background: rgba(0, 0, 0, 0.5);
}
#full-kamus {
    width: 24rem;
    max-height: 40rem;
    background: var(--grey);
    border-radius: 1rem;
    position: relative;
    padding: 1rem;
    text-align: center;
    margin: 15% auto;
}
#full-kamus h2 {
    margin: 2rem 0 0 0;
    color: var(--font-color-subheadline);
}
#full-kamus h6 {
    margin: 2rem 0 0 0;
    color: var(--font-color-subheadline);
}
.contoh-penggunaan {
    margin-bottom: 2rem;
}
.close-button {
    width: 3rem;
    height: 1rem;
    display: block;
    text-align: center;
    color: var(--font-color-subheadline);
    position: absolute;
    top: 0.5rem;
    right: 0rem;
}
.fa-circle-xmark {
    size: 5rem;
}

#popup-1:target {
    visibility: visible;
}
#popup-2:target {
    visibility: visible;
}
#popup-3:target {
    visibility: visible;
}
#popup-4:target {
    visibility: visible;
}
#popup-5:target {
    visibility: visible;
}
#popup-6:target {
    visibility: visible;
}
#popup-7:target {
    visibility: visible;
}
#popup-8:target {
    visibility: visible;
}
#popup-9:target {
    visibility: visible;
}
#popup-10:target {
    visibility: visible;
}
#popup-11:target {
    visibility: visible;
}
#popup-12:target {
    visibility: visible;
}
#popup-13:target {
    visibility: visible;
}
#popup-14:target {
    visibility: visible;
}
#popup-15:target {
    visibility: visible;
}
#popup-16:target {
    visibility: visible;
}
#popup-17:target {
    visibility: visible;
}
#popup-18:target {
    visibility: visible;
}
#popup-19:target {
    visibility: visible;
}
#popup-20:target {
    visibility: visible;
}
#popup-21:target {
    visibility: visible;
}
#popup-22:target {
    visibility: visible;
}
#popup-23:target {
    visibility: visible;
}
#popup-24:target {
    visibility: visible;
}
#popup-25:target {
    visibility: visible;
}
#popup-26:target {
    visibility: visible;
}
#popup-27:target {
    visibility: visible;
}

@media screen and (max-width: 768px) {
    #btn-kamus {
        margin: 1.2rem;
        overflow-x: hidden;
    }
    #box-kamus  {
        height: 8rem;
        width: 8rem;
        overflow-x: hidden;
    }
    .kata-kamus {
        padding: 3rem;
        font-size: medium;
        font-weight: 500;
    }
    #full-kamus {
        width: 20rem;
        margin-top: 16rem;
    }
}

@media screen and (max-width: 1200px) {
    #nama-maba-navbar a{
        display: none;
    }
}


@media screen and (max-width: 1300px) {
    #id-pplk{
        width: 3rem;
        height: 3rem;
    }
    #search-width{
        width: 20rem;
        height: 1.5rem;
    }
    #navbar-nav-item{
        font-size: 1.2rem;
        padding: 4px 0px 4px 0px;
    }
    #nama-maba-navbar a{
        display: none;
    }
    .profile-img, .profile-img img{
        width: 2.5rem;
        height: 2.5rem;
    }
}

@media screen and (max-width:930px) {
    #navbar-nav-item{
        display: none;
    }
    #mobile-dropdown[data-bs-popper] {
        --bs-position: end;
        right: 0 /* rtl:ignore */;
        left: auto /* rtl:ignore */;
    }
}

@media screen and (max-width:570px) {
    #search-width{
        width: 12rem;
    }
}

@media screen and (max-width:370px) {
    #search-width{
        width: 11rem;
    }
}

@media screen and (max-width:340px) {
    #search-width{
        display: none;
    }
    #btn-kamus {
        margin: 0.5rem;
    }
    #box-kamus {
        height: 7rem;
        width: 7rem;
    }
    .kata-kamus {
        font-size: small;
        padding: 1rem;
    }
    #full-kamus {
        width: 16rem;
        max-height: 32rem;
    }
}