body {
    background-image: url(../background-2.png) !important;
    background-size: cover;
    background-position: 50% 5%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    box-shadow: inset rgba(41, 1, 53, 0.66) 0px 1000rem 100px;
    width: 100%;
}
.card {
    background-color: rgba(255, 255, 255, 0.212) !important;
    border-color: #ffffff6c !important;
    box-shadow: #ffffff6c 0px 20px 60px !important;
    border-radius: 30px !important;
    width: 20rem;
}
.card-title {
    font-family: "poppins";
    font-weight: bold;
    color: white;
}
.card-text {
    font-family: sans-serif;
    color: white;
    text-align: left;
}
.box {
    height: 10rem;
    width: 100%;
}
.box .box-img {
    height: 100%;
    width: 10rem;
    object-fit: cover;
    object-position: 50% 0%;
}
.tombol {
    position: inherit;
    border: none;
    border-radius: 15px;
    width: 12rem;
    height: 3.5rem;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    left: 37%;
    bottom: -15px;
    text-align: center;
}
.tombol {
    position: inherit;
    border: none;
    border-radius: 15px;
    width: 12rem;
    height: 3.5rem;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    left: 37%;
    bottom: -15px;
    text-align: center;
}
.tombol:hover {
    transform: translate(-35px, 0px);
    color: #000;
}

#teks1 {
    margin-bottom: 2rem;
}

#box-in {
    background-color: var(--gradient-1);
    background-color: var(--bawaan-gradient-1);
    align-items: center;
}
#box-content-qr-ukm {
    background-color: var(--gradient-1);
    background-color: var(--bawaan-gradient-1);
}

.text-1 {
    text-align: left;
}
img {
    display: block;
    margin: 0 auto;
}
#icon {
    display: flex;
    margin: 0 auto;
    text-align: center;
    background-color: transparent;
    height: 330px;
    margin-top: 5px;
    margin-bottom: 30px;
}
p {
    line-height: 1em;
    text-align: center;
    color: #fff;
    font-size: large;
    padding-left: 5%;
    padding-right: 5%;
}
h5 {
    line-height: 1em;
    text-align: center;
    color: #fff !important;
    font-size: large;
    padding-left: 5%;
    padding-right: 10%;
}
h3 {
    line-height: 1em;
    text-align: center;
    color: var(--gradient-1) !important;
    color: var(--bawaan-gradient-1) !important;
    font-size: large;
    padding-bottom: 3%;
}
h3 {
    overflow: hidden;
    text-align: center;
}
h3:after {
    background-color: var(--font-color-subheadline);
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}
h3:before {
    background-color: var(--font-color-subheadline);
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}
h3:before {
    right: 0.5em;
    margin-left: -50%;
}

h3:after {
    left: 0.5em;
    margin-right: -50%;
}
h2 {
    line-height: 1em;
    text-align: center;
    color: #fff;
    padding-top: 20px;
}
.details {
    background-color: var(--gradient-2);
    background-color: var(--bawaan-gradient-2);
    position: relative;
    z-index: 1;
    width: 320px;
    padding-right: 40px;
    padding-left: 30px;
    border: 20px solid gray;
    text-align: center;
    margin: 0 20px;
}
.details h2 {
    font-size: 22px;
    text-transform: uppercase;
    color: #fff;
}
.details p {
    font-size: 16px;
    color: #fff;
}

.img {
    max-width: 100%;
    height: auto;
    align-items: center;
}
.page {
    position: absolute;
    max-width: 100%;
    height: auto;
    padding-right: 30px;
    padding-left: 30px;
    text-align: center;
    margin: 0;
}

.booklet-text {
    transform: translateY(0rem);
}

.card-booklet {
    width: 100%;
    height: 20rem;
    align-items: center;
}
.card-booklet svg,
.card-booklet svg path {
    width: 100%;
    height: 23rem;
    align-items: center;
}
.card-booklet h1 {
    color: var(--white);
    font-weight: 500;
    margin-bottom: 3%;
}
#card-body {
    background-color: var(--white);
    text-align: center;
    margin: 0;
    border: 10px solid gray;
    border-radius: 10px;
}

#carouselExampleCaption {
    background: transparent;
    background-color: transparent !important;
    border-radius: 28px !important;
    margin-bottom: 5rem;
}

.booklet {
    background-size: cover;
    background-position: 50% 0%;
    background-repeat: no-repeat;
    font-size: 1.2rem;
    height: 30rem;
}
#icon-booklet {
    fill: white;
    padding-left: 30px;
    padding-right: 30px;
}
.slide {
    margin-left: 12%;
    margin-right: 12%;
    margin-top: 2.5rem;
    align-items: center;
    border-radius: 28px;
}
.fun-fact-card {
    background: var(--bawaan-gradient-1);
    background: var(--gradient-1);
    padding-left: 40px;
    padding-right: 40px;
    height: 15rem !important;
    width: 100%;
    /* margin-top: 20px; */
}

.carousel-control {
    background: none !important;
}

.fun-fact-card .card-body-ff {
    justify-content: center;
    text-align: center;
    height: 100%;
}

.fun-fact-card .card-body-ff .card-title {
    color: var(--font-color-subheadline);
    font-weight: 700;
    font-family: var(--font-family-body);
    font-size: 24px;
}

.fun-fact-card .card-body-ff .card-text {
    color: var(--white);
    font-weight: 400;
    font-family: var(--font-family-body);
    font-size: 18px;
    width: 80%;
    /* margin-left: 1%; */
}
.fun-fact-card .card-body-ff .card-title {
    overflow: hidden;
    text-align: center;
    color: var(--white);
}

.fun-fact-card .card-body-ff .card-title:before,
.fun-fact-card .card-body-ff .card-title:after {
    background-color: var(--font-color-subheadline);
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}

.fun-fact-card .card-body-ff .card-title:before {
    right: 0.5em;
    margin-left: -50%;
}

.fun-fact-card .card-body-ff .card-title:after {
    left: 0.5em;
    margin-right: -50%;
}

#bounce {
    animation: bounce 0.5s alternate infinite ease-in;
}
@keyframes bounce {
    0% {
        transform: translateY(-12%);
    }
    100% {
        transform: translateY(0%);
    }
}

@media screen and (max-width: 930px) {
    #carouselExampleCaption {
        background: transparent;
        background-color: transparent !important;
        border-radius: 28px !important;
    }
}

@media screen and (max-width: 1000px) {
    #barcode-ukm {
        width: 330px;
        height: 300px;
    }
}
