

body{
    /* background-color: var(--bawaan-gradient-2); */
    padding-bottom: 500px;
    background: rgb(11,10,60);
    background: linear-gradient(90deg, rgba(11,10,60,1) 0%, rgba(50,25,67,1) 100%)!important;
}

.box{
    height: 10rem;
    width: 100%;

}
.box .box-img{
    height: 100%;
    width: 10rem;
    object-fit: cover;
    object-position: 50% 0%;
}

.tombol{
    position: inherit;
    border: none;
    border-radius: 15px;
    width: 12rem;
    height: 3.5rem;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    left: 37%;
    bottom: -15px;
    text-align: center;
}

.tombol{
    position: inherit;
    border: none;
    border-radius: 15px;
    width: 12rem;
    height: 3.5rem;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    left: 37%;
    bottom: -15px;
    text-align: center;
}

.tombol:hover{
    transform: translate(-35px, 0px);
    color: #000;
}


p, h3, h4, h5, h6 {
    line-height: 1em;
    text-align: center;
    color: #fff;
}

h2{
    line-height: 1em;
    text-align: center;
    color: #fff;
    padding-top: 20px;
}

.details{
    background-color: var(--gradient-2);
    background-color: var(--bawaan-gradient-2);
    position: relative;
    z-index: 1;
    width: 320px;
    padding-right: 30px;
    padding-left: 30px;
    border: 10px solid gray;
    text-align: center;
    margin: 0;
}

.details h2{
    font-size: 22px;
    color: #fff;
}
.details p{
    font-size: 16px;
    color: #fff;
}

.slide-container{
    max-width: 1120px;
    width: 100%;
    padding: 40px 0;
  }
  .slide-content{
    margin: 0 40px;
    overflow: hidden;
  }
  .card{
    background-color: #FFF;
  }
  .image-content,
  .card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
  }
  .image-content{
    position: relative;
    row-gap: 5px;
    padding: 25px 0;
  }
  .overlay{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #db13db;
    
  }
  .overlay::before,
  .overlay::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color: #ffffff;
  }
  .overlay::after{
    border-radius: 0 25px 0 0;
    background-color: #FFF;
  }
  .card-image{
    position: relative;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background: #FFF;
    padding: 3px;
  }
  .card-image .card-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #8d0da7;
  }
  .name{
    font-size: 18px;
    font-weight: 500;
    color: #333;
  }
  .description{
    font-size: 14px;
    color: #707070;
    text-align: center;
  }
  .button{
    border: none;
    font-size: 16px;
    color: #FFF;
    padding: 8px 16px;
    background-color: #3d053d;
    border-radius: 6px;
    margin: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .button:hover{
    background: #db13db;
  }
  
  .swiper-navBtn{
    color: #db13db;
    transition: color 0.3s ease;
  }
  .swiper-navBtn:hover{
    color: #db13db;
  }
  .swiper-navBtn::before,
  .swiper-navBtn::after{
    font-size: 35px;
  }
  .swiper-button-next{
    right: 0;
  }
  .swiper-button-prev{
    left: 0;
  }
  .swiper-pagination-bullet{
    background-color: #db13db;
    opacity: 1;
  }
  .swiper-pagination-bullet-active{
    background-color: #db13db;
  }
  
  @media screen and (max-width: 768px) {
    .slide-content{
      margin: 0 10px;
    }
    .swiper-navBtn{
      display: none;
    }
  }
  