.jumbotron {
  background-image: url(../assets/pplk.png);
  background-size: 100% 100%;
  background-position: center;
}

.upt-card {
  width: 90%;
  background: linear-gradient(90deg, rgb(240, 65, 255) 0%, rgba(130, 165, 234, 1) 100%) !important;
}

.owl-dots .active {
  padding: 5rem;
}

.carousel .card {
  transition: 0.5s;
  transform: scale(0.8);
}
.carousel .active .card {
  transition: 0.5s;
  transform: scale(1);
}
