<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UPT Itera</title>

    <!-- b5 -->
    <link rel="stylesheet" href="../css/bootstrap.css">

    <!-- owl caorusel -->
    <link rel="stylesheet" href="../OwlCarousel2-2.3.4/dist/assets/owl.carousel.css">
    <link rel="stylesheet" href="../OwlCarousel2-2.3.4/dist/assets/owl.theme.default.min.css">

    <!-- css lokal -->
    <link rel="stylesheet" href="../css/UPT.css">
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <!-- jumbotron -->
    <div class="jumbotron  ratio ratio-16x9 my-auto">
    </div>

    <!-- konten -->
    <div class="container-fluid">
        <div class="row">
            <h2 class="text-center display-3 px-5 py-5 text-light animasi"><strong>UPT ITERA</strong></h2>
        </div>
        <div class="row">
            <div class="carousel owl-carousel justify-content-center" id="upt-carousel">
                <div class="card card-1 upt-card text-light p-3 mx-auto" data-merge="3">
                    <h3 class="text-center my-4">lorem</h3>
                    <p class="container">Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati cum natus
                        corrupti voluptates
                        quisquam molestiae eos quam possimus cupiditate provident quasi doloremque, consequuntur at et
                        cumque porro odio ipsam dignissimos?
                        Provident, voluptatum libero! Accusantium, similique. Cum non quas nemo ullam recusandae,
                        consequatur laborum doloremque magnam deleniti nesciunt, ut molestias similique unde aut nulla
                        ab quisquam voluptatibus eaque molestiae sit voluptas!</p>
                </div>
                <div class="card card-2 upt-card text-light p-3 mx-auto" data-merge="3">
                    <h3 class="text-center my-4">lorem</h3>
                    <p class="container">Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati cum natus
                        corrupti voluptates
                        quisquam molestiae eos quam possimus cupiditate provident quasi doloremque, consequuntur at et
                        cumque porro odio ipsam dignissimos?
                        Provident, voluptatum libero! Accusantium, similique. Cum non quas nemo ullam recusandae,
                        consequatur laborum doloremque magnam deleniti nesciunt, ut molestias similique unde aut nulla
                        ab quisquam voluptatibus eaque molestiae sit voluptas!</p>
                </div>
                <div class="card card-3 upt-card text-light p-3 mx-auto" data-merge="3">
                    <h3 class="text-center my-4">lorem</h3>
                    <p class="container">Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati cum natus
                        corrupti voluptates
                        quisquam molestiae eos quam possimus cupiditate provident quasi doloremque, consequuntur at et
                        cumque porro odio ipsam dignissimos?
                        Provident, voluptatum libero! Accusantium, similique. Cum non quas nemo ullam recusandae,
                        consequatur laborum doloremque magnam deleniti nesciunt, ut molestias similique unde aut nulla
                        ab quisquam voluptatibus eaque molestiae sit voluptas!</p>
                </div>
                <div class="card card-4 upt-card text-light p-3 mx-auto" data-merge="3">
                    <h3 class="text-center my-4">lorem</h3>
                    <p class="container">Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati cum natus
                        corrupti voluptates
                        quisquam molestiae eos quam possimus cupiditate provident quasi doloremque, consequuntur at et
                        cumque porro odio ipsam dignissimos?
                        Provident, voluptatum libero! Accusantium, similique. Cum non quas nemo ullam recusandae,
                        consequatur laborum doloremque magnam deleniti nesciunt, ut molestias similique unde aut nulla
                        ab quisquam voluptatibus eaque molestiae sit voluptas!</p>
                </div>
                <div class="card card-5 upt-card text-light p-3 mx-auto" data-merge="3">
                    <h3 class="text-center my-4">lorem</h3>
                    <p class="container">Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati cum natus
                        corrupti voluptates
                        quisquam molestiae eos quam possimus cupiditate provident quasi doloremque, consequuntur at et
                        cumque porro odio ipsam dignissimos?
                        Provident, voluptatum libero! Accusantium, similique. Cum non quas nemo ullam recusandae,
                        consequatur laborum doloremque magnam deleniti nesciunt, ut molestias similique unde aut nulla
                        ab quisquam voluptatibus eaque molestiae sit voluptas!</p>
                </div>
            </div>
        </div>
    </div>


    <!-- script -->
    <script src="../js/bootstrap.js"></script>

    <!-- owl script -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="../OwlCarousel2-2.3.4/dist/owl.carousel.min.js"></script>
    <script>
        $(".carousel").owlCarousel({
            loop: true,
            center: true,
            autoplay: true,
            autoplayTimeout: 2000,
            autoplayHoverPause: true,
            stagePadding: 180,
            responsive: {
                0: {
                    items: 1,
                    nav: false,
                    stagePadding: 0,
                },
                600: {
                    items: 1,
                    nav: false,
                },
                1000: {
                    items: 1,
                    nav: false
                }
            }
        });
    </script>
</body>

</html>